*.iml
.gradle
.idea
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*.apk
*.ap_
*.dex
*.log
app/src/main/java/org/gammf/collabora_android/utils/RabbitMQConfig.java
